html {
    font-size: 0.8px;
}

body {
    font-family: "Arial";
    background-color: #8dc63f;
    margin: 0;
    cursor: url('../img/cursor.cur'), auto;
}

a:hover {
    cursor: url('../img/hover.cur'), auto;
}

.wrapper {
    background-color: #fff;
    max-width: 960rem;
    margin: 0 auto;
    padding: 0 15rem;
    box-sizing: border-box;
}

.clear {
    clear: both;

}

.top {
    padding: 25rem 0;
}

.footballAdmin,
.footballAdmin p,
.footballAdmin img {
    float: left;
}

.footballAdmin img {
    margin: 30rem 35rem 0;
    transition: all 1s ease;
    width: 50rem;
    filter: drop-shadow(0 0 0 black);
}

.footballAdmin img:hover {
    padding-left: 200rem;
    margin: 0;
    filter: drop-shadow(-100px 0 20px gray);
    width: 90rem;
}

.footballAdmin p,
.contactDetails p,
.contactDetails a {
    font-size: 22rem;
    color: #39930d;
    margin: 0;
    text-decoration: none;
}

.footballAdmin b {
    font-size: 44rem;
    display: block;
}

.footballAdmin i,
.contactDetails i {
    font-size: 14rem;
    color: #5a5a5a;
    display: block;
}

.contactDetails i {
    text-align: right;
}

.contactDetails {
    float: right;
}

.picture {
    width: 100%;
    object-fit: cover;
    object-position: 65%;
    height: 200rem;
}

.bottom {
    padding-bottom: 45rem;
}

.info {
    float: left;
}

.info h1 {
    font-size: 24rem;
    color: #39930d;
}

.info p {
    font-size: 14rem;
    line-height: 21rem;
    color: #343434;
}

.partners {
    max-width: 100%;
    width: 100%;
    float: right;
}

.partners p {
    font-size: 18rem;
    color: #fff;
    background-color: #39930d;
    padding: 15rem 20rem 10rem;
}

.partners ul {
    list-style: none;
    padding-left: 20rem;
}

.partners a {
    font-size: 14rem;
    line-height: 30rem;
    color: #39930d;
    text-transform: uppercase;
    transition: all 1s ease;
}

.partners a:hover {
    color: #000000;
    text-decoration: none;
    padding-left: 40rem;
}

.footer {
    font-size: 14rem;
    color: #fff;
    background-color: #39930d;
    margin: 0 -15rem;
    padding: 15rem; 
}

@media screen and (min-width: 375px) {
    html {
        font-size: 1px;
    }
}

@media screen and (min-width: 930px) {
    .partners {
        max-width: 300rem;
    }
    
    .info {
        max-width: 600rem;
    }
}

@media screen and (min-width: 2560px) {
    html {
        font-size: 1.5px;
    }
}